@model IEnumerable<FarmFreshAPI.Models.ProductDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.productName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productSubName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productPacket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productInfo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productAbout)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productCountry)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.productQty)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.productName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productSubName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productPacket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productInfo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productAbout)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productCountry)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.productQty)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.productId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.productId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.productId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
